<!DOCTYPE html>
<html>

<head>
  <title>Download</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap-4.3.1-dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/fontawesome-free-5.11.2-web/css/all.min.css">
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>

  <%- include('./navmenu'); %>

  <div class="container-fluid fp-master">
    <div class="row">

      <div class="col fp-main bg-light text-dark">
        <form id="form-settings" novalidate>

          <div class="row">
            <div class="col-sm-12">

              <h3 class="mt-0 mb-3">Download</h3>

              <!-- Progress -->
              <div class="row">
                <div class="col-md-4">

                  <table class="table table-striped table-bordered">

                    <thead>
                      <tr>
                        <th colspan="2" class="bg-info text-light text-center">
                          Progress
                        </th>
                      </tr>
                    </thead>

                    <tbody>
                      <!-- Settings -->
                      <tr>
                        <td>
                          <label for="progress_settings">Settings:</label>
                        </td>
                        <td>
                          <progress id="progress_dial_settings" max="100" value="100"></progress>
                          <div id="progress_text_settings" class="float-right">100%</div>
                        </td>
                      </tr>

                      <!-- Globals -->
                      <tr>
                        <td>
                          <label for="progress_dial_globals">Globals:</label>
                        </td>
                        <td>
                          <progress id="progress_dial_globals" max="100" value="100"></progress>
                          <span id="progress_text_globals" class="float-right">100%</span>
                        </td>
                      </tr>

                      <!-- Scriptures -->
                      <tr>
                        <td><label for="progress_scriptures">Scriptures:</label></td>
                        <td>
                          <progress id="progress_dial_scriptures" max="100" value="90"></progress>
                          <span id="progress_text_scriptures" class="float-right">90%</span>
                        </td>
                      </tr>

                      <!-- Pages -->
                      <tr>
                        <td>
                          <label for="progress_pages">Pages:</label>
                        </td>
                        <td>
                          <progress id="progress_dial_pages" max="100" value="0">0%</progress>
                          <span id="progress_text_pages" class="float-right">0%</span>
                        </td>
                      </tr>

                      <!-- Overall -->
                      <tr>
                        <td>
                          <big>
                            <strong>
                              <label for="progress_dial_overall">Overall:</label>
                            </strong>
                          </big>
                        </td>
                        <td>
                          <progress id="progress_dial_overall" max="100" value="73"></progress>
                          <big>
                            <strong>
                              <span id="progress_text_overall" class="float-right">73%</span>
                            </strong>
                          </big>
                        </td>
                      </tr>

                    </tbody>

                  </table>

                </div>
              </div>

            </div>
          </div>
      </div>

      </form>
    </div>
  </div>


  <script type="text/javascript" src="/js/jquery-3.3.1.slim.min.js"></script>
  <script type="text/javascript" src="/js/popper.min.js"></script>
  <script type="text/javascript" src="/css/bootstrap-4.3.1-dist/js/bootstrap.js"></script>
  <script type="text/javascript" src="/js/pages/download.js"></script>

</body>

</html>