<!DOCTYPE html>
<html>

<head>
  <title>First Principles Translation</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap-4.3.1-dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/fontawesome-free-5.11.2-web/css/all.min.css">
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>

  <%- include('./navmenu'); %>

  <div class="container-fluid fp-master">

    <div class="row">

      <div class="col fp-main bg-light text-dark">
        <form id="form-settings" novalidate>

          <div class="row">
            <div class="col-sm-12">

              <p>
                This application will enable you to create a version of the First Principles app for a particular
                language and Bible version.
              </p>

              <h4>Instructions</h4>

              <p>
                Please click on one of the navigation icons to begin. This will take you to a corresponding page. You
                will see a progress bar at the top of each page on this site, indicating the percentage of necessary
                work that you have completed. When the progress bar has reached 100%, visit the <a
                  href="/download">Download</a> page,
                which will let you download a ZIP file. That ZIP file contains the entire completed translation. You
                must provide the ZIP file to the Cyberministry.
              </p>

              <p>
                Thank you for your service!
              </p>

            </div>
          </div>
      </div>

      </form>
    </div>
  </div>


  <script type="text/javascript" src="/js/jquery-3.3.1.slim.min.js"></script>
  <script type="text/javascript" src="/js/popper.min.js"></script>
  <script type="text/javascript" src="/css/bootstrap-4.3.1-dist/js/bootstrap.js"></script>
  <script type="text/javascript" src="/js/all.js"></script>
  <script type="text/javascript" src="/js/pages/index.js"></script>

</body>

</html>