<nav class="navbar bg-dark nav-justify-center">
  <a href="./" class="mx-auto navbar-brand text-light">
    First Principles Translation
  </a>
</nav>
<nav class="navbar justify-content-center text-center bg-secondary mb-3">
  <a class="text-light mr-5" href="/settings">
    <i class="fas fa-cog"></i>
    <div class="d-none d-sm-block"><small>Settings</small></div>
  </a>
  <a class="text-light mr-5" href="/scriptures">
    <i class="fas fa-bible"></i>
    <div class="d-none d-sm-block"><small>Scriptures</small></div>
  </a>
  <a class="text-light mr-5" href="/pages">
    <i class="fas fa-file-alt"></i>
    <div class="d-none d-sm-block"><small>Pages</small></div>
  </a>
  <a class="text-light mr-5" href="/globals">
    <i class="fas fa-globe"></i>
    <div class="d-none d-sm-block"><small>Globals</small></div>
  </a>
  <a class="text-light text-sm" href="/download">
    <i class="fas fa-download"></i>
    <div class="d-none d-sm-block"><small>Download</small></div>
  </a>
</nav>