<!DOCTYPE html>
<html>

<head>
  <title>Pages</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap-4.3.1-dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/fontawesome-free-5.11.2-web/css/all.min.css">
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>

  <%- include('./navmenu'); %>

  <div class="container-fluid fp-master">
    <div class="row">

      <div class="col fp-main bg-light text-dark">
        <form id="form-settings" novalidate>

          <div class="row">
            <div class="col-sm-6">

              <h3 class="mt-0 mb-3">Pages</h3>

            </div>
          </div>

        </form>
      </div>
    </div>
  </div>


  <script type="text/javascript" src="/js/jquery-3.3.1.slim.min.js"></script>
  <script type="text/javascript" src="/js/popper.min.js"></script>
  <script type="text/javascript" src="/css/bootstrap-4.3.1-dist/js/bootstrap.js"></script>
  <script type="text/javascript" src="/js/pages/pages.js"></script>

</body>

</html>