<!DOCTYPE html>
<html>

<head>
  <title>Pages</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap-4.3.1-dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/fontawesome-free-5.11.2-web/css/all.min.css">
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>

  <div class="container-fluid fp-master">
    <div class="row">

      <div class="col-sm-1 fp-side-nav d-none d-sm-block">
        <ul class="nav flex-column">
          <li class="nav-item mt-2 mb-4 text-center">
            <a class="nav-link" href="/settings">
              <i class="fas fa-cog fa-2x"></i>
              <div>Settings</div>
            </a>
          </li>
          <li class="nav-item mb-4 text-center">
            <a class="nav-link" href="/scriptures">
              <i class="fas fa-bible fa-2x"></i>
              <div>Scriptures</div>
            </a>
          </li>
          <li class="nav-item mb-4 text-center">
            <a class="nav-link" href="/pages">
              <i class="far fa-file-alt fa-2x"></i><br>
              <div>Pages</div>
            </a>
          </li>
          <li class="nav-item mb-4 text-center">
            <a class="nav-link" href="/globals">
              <i class="fas fa-globe fa-2x"></i>
              <div>Global<br>Content</div>
            </a>
          </li>
          <li class="nav-item mb-4 text-center">
            <a class="nav-link" href="/download">
              <i class="fas fa-download fa-2x"></i>
              <div>Download</div>
            </a>
          </li>
        </ul>
      </div>

      <div class="col-sm-11 fp-main py-2 bg-light text-dark">
        <form id="form-settings" novalidate>

          <div class="container ml-3">
            <div class="row">
              <div class="col-sm-6">

                <h1 class="mt-0 mb-3">Pages</h1>

              </div>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>


  <script type="text/javascript" src="/js/jquery-3.3.1.slim.min.js"></script>
  <script type="text/javascript" src="/js/popper.min.js"></script>
  <script type="text/javascript" src="/css/bootstrap-4.3.1-dist/js/bootstrap.js"></script>
  <script type="text/javascript" src="/js/pages/pages.js"></script>

</body>

</html>